@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
	--background: #fff;
	--background-border: #f5f5f5;
	--title-color: #707070;
	--font-color: #999;
	--theme-color: #22b470;
	--theme-hover: #109959;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: "Roboto", "sans-serif";
	background: var(--background);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--title-color);
}

a {
	text-decoration: none;
	color: var(--theme-color);
	width: fit-content;
	font-size: 1.1rem;
}

a:hover {
	color: var(--theme-hover);
}

p,
span,
div {
	color: var(--font-color);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--background-border);
	box-shadow: 0 0 4px var(--background-border);
	padding: 0 1rem 1rem 1rem;
}

header h1 {
	text-align: center;
}

header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 400px;
}

header li {
	margin: 0 0.5rem;
}

section {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex: 2;
	background: var(--background-border);
	padding: 0 1rem 1rem 1rem;
	overflow: hidden;
}

.column {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.column .user-edit-btn {
	margin-left: 10px;
}

.column h1 {
	text-align: center;
}

.column .tags {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 30px;
	overflow-x: auto;
}

.column .tag {
	margin: 0 1rem;
	min-width: fit-content;
}

.column .tag.selected a {
	color: var(--theme-hover);
}

.column .posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.column .post {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	background: var(--background);
	padding: 10px;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 320px;
	border-radius: 4px;
	border: 1px solid var(--background);
	transition: 0.3s;
}

.column .post:hover {
	border: 1px solid var(--theme-color);
	box-shadow: 0 0 4px var(--theme-hover);
}

.post img {
	width: 300px;
	height: 300px;
	border-radius: 4px;
}

.post h2 {
	color: var(--theme-color);
}
.post h2:hover {
	color: var(--theme-hover);
}

.post .post-text {
	max-height: 200px;
	overflow-y: auto;
	padding-right: 5px;
}

.column .tags::-webkit-scrollbar {
	height: 2px;
}

.post .post-text::-webkit-scrollbar {
	width: 5px;
}

.column .tags::-webkit-scrollbar-track,
.post .post-text::-webkit-scrollbar-track {
	background: var(--background-border);
}

.column .tags::-webkit-scrollbar-thumb,
.post .post-text::-webkit-scrollbar-thumb {
	background: var(--theme-color);
}

.column .tags::-webkit-scrollbar-thumb:hover,
.post .post-text::-webkit-scrollbar-thumb:hover {
	background: var(--theme-hover);
}

.post .post-links {
	display: flex;
	justify-content: space-between;
}

.column form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 600px;
}

.column form input,
.column form textarea {
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid var(--font-color);
}

.column form input {
	padding: 5px;
}

.column form textarea {
	height: 300px;
	padding: 10px;
}

.column form input[type='submit'] {
	background: var(--theme-color);
	color: var(--background);
	font-weight: bold;
	font-size: 1.1rem;
	transition: 0.3s;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 4px var(--theme-hover);
	cursor: pointer;
}

.column form input[type='submit']:hover {
	background: var(--theme-hover);
}

footer {
	text-align: center;
}

.warning {
	background: sandybrown;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

@media (max-width: 1023px) {
	.column {
		max-width: 660px;
	}
}

@media (max-width: 690px) {
	.column {
		max-width: 320px;
	}
}

@media (max-width: 425px) {
	.column {
		max-width: 100%;
	}

	.column .posts {
		justify-content: center;
	}

	.column .post {
		max-width: 100%;
	}

	.post a {
		width: 100%;
		text-align: center;
	}

	.post img {
		width: 100%;
		height: auto;
	}

	.post .post-text {
		height: fit-content;
	}
}

@media (max-width: 353px) {
	header h1 {
		font-size: 1.9rem;
	}
}
